@charset "gb2312";
/* CSS Document */
 body, ul, li, ol, h1, h2, h3, h4, h5, h6,p, form, dl, dt, dd ,a{ margin:0px; padding:0px; font-size:12px; font-weight: normal; color:#333; text-decoration:none; }
ul { list-style: none; }
img { border-style: none; }

body { margin:0; background:url(../images/ibg.png) repeat-x; }

/********************* 원*********************/
#header { width:1000px; height:80px; margin:0 auto;}
.logo { width:586px; height:54px; margin:15px 0 0 0px; float:left;}
.ser { width:200px; height:24px; float:right; margin:33px 0 0 0px; background:url(../images/serbox.png) no-repeat left;}
.serleft { width:167px; height:24px; float:left; margin-left:2px; }
.serright { float:right; height:26px; height:24px; }
.serbox { border:none; height:14px; background:none; padding:2px; color:#333; font-size:12px; margin-top:2px; float:left; }


/******************** 옾줳쒦온 ***************************/
#nav { width:auto; height:47px; background:url(../images/navbg.png) repeat-x; margin:5px auto 0 auto;}
.navmain { width:1000px; height:47px; margin:0 auto;}
.navmain ul { width:1000px; float:left; margin-top:10px;}
.navmain ul li {  float:left; margin-left:60px;}
.navmain ul li a { color:#faed97; font-size:14px; font-family:"풕턼환쥌"; line-height:14px; text-align:center;}
.navmain ul li a span { font-size:10px; color:#999900;}
.navmain ul li a:hover { color:#FFFFFF; }






/******************** main ***************************/


.mainline { width:auto; height:25px; margin:0 auto; background:url(../images/mainbg.jpg) repeat-x top;}
.subtitle { width:auto; height:40px; border-bottom:#eee 1px solid;}
.subtitle_body { width:1000px; height:40px; margin:0 auto;}
.subt_left { width:258px; height:40px; background:url(../images/subtlebg.png) no-repeat; float:left;}
.subt_left span { width:258px; float:left; margin-top:9px; text-align:center; font-size:16px; font-family:"풕턼환쥌"; font-weight:bold; color:#fff;}
.subt_right { width:auto; height:16px; float:right; background:url(../images/10.png) no-repeat left; padding-left:20px; margin-top:18px; color:#666;}
.subten { width:1000px; height:19px; margin:0 auto;}
.subtenbo { width:258px; height:19px; float:left; background:url(../images/subtlea.png) no-repeat left;}
.subtenbo span { width:258px; text-align:center; float:left; font-family:Arial, Helvetica, sans-serif;}

.subbody { width:1000px; height:auto; margin:0 auto 20px auto; clear:both;}

.subside { width:258px; float:left;}
.sidemenu { width:258px; float:left; height:auto;}
.sidemenu ul li { width:258px; height:24px; border-bottom:#ccc 1px dotted; background:url(../images/09.png) no-repeat 20px 10px; margin-top:3px;}
.sidemenu ul li a { float:left; margin:8px 0 0 30px;}
.sidemenu ul li a:hover { color:#006600;} 
.sideblock { width:258px; height:auto; float:left; margin-top:10px;}
.blockone  { width:258px; height:86px; background:url(../images/subside01.png) no-repeat; float:left;}
.blocktwo  { width:258px; height:73px; background:url(../images/subside02.png) no-repeat; float:left;}
.blockonett { width:170px; height:55px; float:right; margin:8px;}
.tel01 { width:170px; text-align:right; color:#666;}
.tel02 { width:170px; float:left; text-align:center; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-style:italic;  }
.blocktxt { width:180px; height:30px; margin:20px 0 0 20px; color:#666; float:left;}
.blocktxt a { color:#006600;}

.blockthr { width:258px; height:auto; float:left; margin-top:10px; margin-bottom:20px;}
.blockthr ul li { width:258px; height:35px; border-bottom:#ccc 1px dotted; margin-top:5px;}
.timg { float:left; width:30px; height:30px;}
.ttxt { float:left; margin-left:15px;}
.ttxt a h1 {  color:#1f5406; font-size:14px; font-family:"풕턼환쥌"; font-weight:800; }
.ttxt a h2 {  font-size:10px; font-family:Arial, Helvetica, sans-serif;}


.subcontent { width:710px; float:right;}
.bannerimg { width:710px; height:auto; float:left;}
.smtit { width:710px; height:20px; border-bottom:#eee 1px solid; float:left; margin-top:10px; margin-bottom:10px;}
.smtle { width:300px; height:14px; border-left:2px solid #1c4c05; padding-left:10px; float:left; font-size:14px;}
.article { width:710px; height:auto; margin-top:10px; line-height:30px; color:#666;}
.article h1 { font-size:14px; font-weight:bold;  color:#666;}
.article p { margin-top:8px;}

.article02 { width:700px; height:auto; margin-top:10px; line-height:30px; color:#666; float:right; } 
.article02 h1 { width:700px; float:left; font-size:14px; font-weight:bold;  color:#666;}

/******************** news ***************************/
.article_list { width:710px; height:auto; margin:10px auto; float:left;}
.article_list ul li { width:700px; height:26px; border-bottom:#ccc 1px dotted; background:url(../images/icont.png) no-repeat 5px 12px; }
.article_list ul li a { float:left; margin:8px 0 0 20px;}
.article_list ul li span { float:right; margin:8px 3px 0 0; color:#999;}
.article_list ul li a:hover { color:#996600;}
/*----------*/
.page { width:700px; height:25px; float:left; margin:10px auto;}
.page ul { text-align:right; height:20px; float:right; }
.page ul li { float:left; margin-left:10px; height:15px;}
.page_na a{ width:15px; height:15px; background:#1c4c05; float:left; }
.page_na a span { color:#fff; display:block; text-align:center; float:left; width:15px; margin-top:2px;}
.page_n a { width:14px; height:14px; border:#ccc 1px solid;  float:left; }
.page_n a span { width:15px; height:15px; text-align:center; float:left;  }
.page_n a:hover { width:15px; height:15px; background:#1c4c05; float:left; }
.page_n a:hover span { color:#fff; text-align:center; float:left; width:15px; }
/*----------*/


.footerline { width:auto; height:26px; background:#e7e7e7; margin:20px auto 10px auto; clear:both;}
.foline { width:1000px; height:26px; margin:0 auto;}
.foleft { width:500px; height:26px; float:left;}
.foleft ul { width:500px; float:left; margin-top:7px;}
.foleft ul li { float:left; margin-left:13px;}
.foright { width:200px; float:right; height:26px;}
.foright span { width:200px; float:right; margin-top:10px;}
#jumpMenu { border:#999 1px solid; width:180px; height:16px; color:#666; margin-top:5px; font-size:10px; text-align:center; } 
.footerbottom { width:1000px; height:auto; margin:5px auto;}
.cop { color:#666; float:left; display:block;}
.itle { background:url(../images/123.jpg) no-repeat left;  float:right; padding-left:20px; color:#666;}

/*--------sub-message-----------------------------------*/
.message_show { width:710px; height:auto; margin:10px auto 5px auto; float:left;}
.messgae_infor { width:710px; height:auto; margin-bottom:5px;}
.infor_tle { width:710px; height:26px; border:#ccc 1px dashed; background:url(../images/115.gif) no-repeat 5px 10px;  }
.infor_name { width:400px; height:14px; float:left; margin:8px 0 0 20px;}
.infor_date { width:70px; height:14px; float:right; margin:8px 5px 0 0 ; }
.infor_from { width:650px; height:auto; padding:5px; margin:5px auto; line-height:24px; font-size:12px;}
.infor_to { width:650px; height:auto; padding:5px; margin:5px auto; line-height:24px; color:#006600;}
.infor_tips { width:710px; height:20px; border-top:#ccc 1px solid; text-align:right; padding-top:5px; color:#999999;}
.message_page { width:710px; height:20px; margin-top:5px; text-align:right;}
.message_page a { color:#333; }
.message_page a:hover {  color:#009900; text-decoration:underline;} 

.message_form { width:710px; margin:20px auto; border:#ccc 1px dashed;}
.message_form_tle { width:710px; border-bottom:#ccc 1px dashed; height:30px; margin-top:5px;}
.message_form_tle span { width:710px; float:left; display:block; text-align:center; font-size:14px; color:#003300; font-weight:bold; font-family:"풕턼환쥌";}
.message_form_body { width:710px; margin:10px auto;}
.message_box01 { width:250px; border:#999 1px solid; background:#f9f9f9; height:16px; color:#666; padding:2px;}
.message_box02 { width:420px; border:#999 1px solid; background:#f9f9f9; height:70px; color:#666; padding:2px; }
.message_form_body table tr td { color:#333;}
.message_txt_s { color:#333;}


.article_mu { width:710px; height:20px; border-bottom:#ccc 1px dotted; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; float:left; padding-bottom:5px; }
.article_se { width:710px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; float:left; padding-bottom:5px; border-bottom:#ccc 1px dotted; }
